workflows/evening_generation.json
{
  "name": "Evening Generation - 콘텐츠 생성 및 업로드",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger-evening",
      "name": "Cron Trigger (PM 2:00)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, book_name, chapter, verse, korean_text, character_main, visual_prompt, vocal_prompt, music_prompt, emotion_values FROM scripture WHERE batch_status = 'completed' AND status = 'pending' ORDER BY batch_request_date ASC LIMIT 3"
      },
      "id": "postgres-get-ready",
      "name": "PostgreSQL: 준비된 구절 불러오기",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "postgresql-credentials",
          "name": "Railway PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 각 구절에 대해 병렬 실행을 위한 데이터 준비\nconst items = $input.all();\nreturn items.map(item => ({ json: item.json }));"
      },
      "id": "prepare-for-parallel",
      "name": "병렬 실행 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "always-true",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "split-branch",
      "name": "분기: 4개 API 병렬 실행",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://suno-api-production-ac35.up.railway.app/generate/description-mode",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "gpt_description_prompt",
              "value": "={{ $json.music_prompt }}"
            },
            {
              "name": "make_instrumental",
              "value": true
            },
            {
              "name": "mv",
              "value": "chirp-v3-5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "suno-music",
      "name": "Suno: 배경음악 생성 (Polling 필요)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fish.audio/v1/synthesis",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.fishAudioApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.vocal_prompt }}"
            },
            {
              "name": "voice_id",
              "value": "={{ $json.character_main }}_voice_id_1"
            },
            {
              "name": "language",
              "value": "ko"
            },
            {
              "name": "emotion",
              "value": "={{ $json.emotion_values }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fish-audio-voice",
      "name": "Fish Audio: 음성 합성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "fish-audio-api-credentials",
          "name": "Fish Audio API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hedra.ai/v1/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.hedraApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.visual_prompt }}"
            },
            {
              "name": "identity_image",
              "value": "={{ $json.character_main }}.jpg"
            },
            {
              "name": "duration",
              "value": "5"
            },
            {
              "name": "quality",
              "value": "1080p"
            }
          ]
        },
        "options": {}
      },
      "id": "hedra-video",
      "name": "Hedra: 얼굴 + 립싱크 영상",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "hedra-api-credentials",
          "name": "Hedra API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.runwayml.com/v1/generate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.runwayApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ '배경 영상: ' + $json.visual_prompt }}"
            },
            {
              "name": "duration",
              "value": "30"
            }
          ]
        },
        "options": {}
      },
      "id": "runway-background",
      "name": "Runway: 배경 영상 (선택)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "runway-api-credentials",
          "name": "Runway API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByIndex",
        "options": {}
      },
      "id": "merge-results",
      "name": "결과 병합",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// 모든 API 결과를 통합하고 다운로드 준비\nconst items = $input.all();\nconst original = $('PostgreSQL: 준비된 구절 불러오기').first().json;\n\n// 각 API 응답에서 URL 추출\nlet sunoUrl = '';\nlet fishUrl = '';\nlet hedraUrl = '';\nlet runwayUrl = '';\n\nfor (const item of items) {\n  const response = item.json;\n  if (response.url && response.url.includes('suno')) sunoUrl = response.url;\n  if (response.url && response.url.includes('fish')) fishUrl = response.url;\n  if (response.url && response.url.includes('hedra')) hedraUrl = response.url;\n  if (response.url && response.url.includes('runway')) runwayUrl = response.url;\n}\n\nreturn [{\n  json: {\n    episode_id: `ep_${original.id}_${Date.now()}`,\n    scripture_id: original.id,\n    book_name: original.book_name,\n    chapter: original.chapter,\n    verse: original.verse,\n    character: original.character_main,\n    suno_url: sunoUrl,\n    fish_url: fishUrl,\n    hedra_url: hedraUrl,\n    runway_url: runwayUrl,\n    output_dir: './output'\n  }\n}];"
      },
      "id": "combine-api-results",
      "name": "API 결과 통합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "command": "bash",
        "arguments": "-c \"chmod +x scripts/ffmpeg_compose.sh && scripts/ffmpeg_compose.sh '{{ $json.episode_id }}' '{{ $json.hedra_url }}' '{{ $json.fish_url }}' '{{ $json.suno_url }}' '{{ $json.runway_url }}' '{{ $json.output_dir }}'\""
      },
      "id": "ffmpeg-compose",
      "name": "FFmpeg: 30초 영상 합성",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "command": "python3",
        "arguments": "scripts/generate_thumbnail.py '{{ $json.output_dir }}/{{ $json.episode_id }}_final.mp4' '{{ $json.output_dir }}/{{ $json.episode_id }}_thumbnail.jpg' '{\\\"book_name\\\":\\\"{{ $json.book_name }}\\\",\\\"chapter\\\":{{ $json.chapter }},\\\"verse\\\":{{ $json.verse }},\\\"emotion\\\":\\\"fear\\\",\\\"character\\\":\\\"{{ $json.character }}\\\"}'"
      },
      "id": "generate-thumbnail",
      "name": "Python: 썸네일 생성",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "binaryData": true,
        "title": "={{ $json.book_name }} {{ $json.chapter }}:{{ $json.verse }}",
        "description": "={{ '성경을 영화처럼 경험하세요.\\n\\n' + $('PostgreSQL: 준비된 구절 불러오기').first().json.korean_text + '\\n\\n#성경 #뮤지컬 #AI #영화' }}",
        "categoryId": "24",
        "privacyStatus": "public",
        "tags": "성경,뮤지컬,AI,영화",
        "thumbnail": "={{ $json.output_dir }}/{{ $json.episode_id }}_thumbnail.jpg"
      },
      "id": "youtube-upload",
      "name": "YouTube: 자동 업로드",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [2050, 300],
      "credentials": {
        "youtubeOAuth2Api": {
          "id": "youtube-api-credentials",
          "name": "YouTube API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE scripture SET status = 'completed', final_video_path = $1, thumbnail_path = $2, youtube_url = $3, youtube_video_id = $4, upload_date = $5, generation_date = $6 WHERE id = $7",
        "additionalFields": {
          "queryParameters": "={{ [$json.output_dir + '/' + $json.episode_id + '_final.mp4', $json.output_dir + '/' + $json.episode_id + '_thumbnail.jpg', $('YouTube: 자동 업로드').first().json.url, $('YouTube: 자동 업로드').first().json.id, new Date().toISOString(), new Date().toISOString(), $json.scripture_id] }}"
        }
      },
      "id": "postgres-final-update",
      "name": "PostgreSQL: 최종 상태 업데이트",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2250, 300],
      "credentials": {
        "postgres": {
          "id": "postgresql-credentials",
          "name": "Railway PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger (PM 2:00)": {
      "main": [
        [
          {
            "node": "PostgreSQL: 준비된 구절 불러오기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL: 준비된 구절 불러오기": {
      "main": [
        [
          {
            "node": "병렬 실행 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "병렬 실행 준비": {
      "main": [
        [
          {
            "node": "분기: 4개 API 병렬 실행",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분기: 4개 API 병렬 실행": {
      "main": [
        [
          {
            "node": "Suno: 배경음악 생성",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fish Audio: 음성 합성",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hedra: 얼굴 + 립싱크 영상",
            "type": "main",
            "index": 0
          },
          {
            "node": "Runway: 배경 영상 (선택)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suno: 배경음악 생성": {
      "main": [
        [
          {
            "node": "결과 병합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fish Audio: 음성 합성": {
      "main": [
        [
          {
            "node": "결과 병합",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hedra: 얼굴 + 립싱크 영상": {
      "main": [
        [
          {
            "node": "결과 병합",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Runway: 배경 영상 (선택)": {
      "main": [
        [
          {
            "node": "결과 병합",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "결과 병합": {
      "main": [
        [
          {
            "node": "API 결과 통합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API 결과 통합": {
      "main": [
        [
          {
            "node": "FFmpeg: 30초 영상 합성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FFmpeg: 30초 영상 합성": {
      "main": [
        [
          {
            "node": "Python: 썸네일 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Python: 썸네일 생성": {
      "main": [
        [
          {
            "node": "YouTube: 자동 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube: 자동 업로드": {
      "main": [
        [
          {
            "node": "PostgreSQL: 최종 상태 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-23T00:00:00.000Z",
  "versionId": "1"
}
